.rating-form {
	font-size: 1.2em;
	padding: 5.5em 5% 1.5em 5%;
	background-image: linear-gradient(
		to right top,
		#0072c6,
		#0275c9,
		#0477cc,
		#067ad0,
		#087dd3
	);
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	gap: 1.5em;
	.container {
		display: flex;
		gap: 2em;
		.wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 1.3em;
			font-weight: bold;
			color: #e6e6e6;
			gap: 1.3em;
			box-shadow: rgb(5, 91, 177) 3px 3px 6px 0px inset,
				rgba(181, 145, 238, 0.5) -3px -3px 6px 1px inset;
			padding: 1em 1.5em;
			border-radius: 20px;
			img {
				object-fit: cover;
				border-radius: 20px;
				width: 250px;
				height: 250px;
				box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
					rgba(0, 0, 0, 0.22) 0px 10px 10px;
			}
			p {
				span {
					color: rgb(243, 243, 159);
				}
			}
		}
	}
	.form {
		display: flex;
		flex-direction: column;
		gap: 1.4em;
		padding: 2em;
		box-shadow: rgb(5, 91, 177) 3px 3px 6px 0px inset,
			rgba(181, 145, 238, 0.5) -3px -3px 6px 1px inset;
		border-radius: 20px;

		.headling {
			color: #f2f2f2;
			font-weight: bold;
			display: flex;
			gap: 1.5em;
			input {
				width: 3.5em;
				color: rgb(243, 243, 159);
				background-color: rgb(75, 94, 199);
				border: none;
				text-decoration: none;
				text-align: center;
				font-size: 1em;
				box-shadow: rgb(5, 91, 177) 3px 3px 6px 0px inset,
					rgba(181, 145, 238, 0.5) -3px -3px 6px 1px inset;
				font-weight: bold;
				padding: 0.5em;
			}
			span {
				text-transform: uppercase;
				flex: 1;
				color: rgb(243, 243, 159);
			}
		}
	}
	button {
		border-radius: 10px;
		padding: 1.5em;
		border: none;
		background-color: rgb(75, 94, 199);
		cursor: pointer;
		box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
			rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
			rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
		font-size: 1em;
		text-transform: uppercase;
		color: #f2f2f2;
		font-weight: bold;
		&:hover {
			background-color: transparent;
			box-shadow: rgb(5, 91, 177) 3px 3px 6px 0px inset,
				rgba(181, 145, 238, 0.5) -3px -3px 6px 1px inset;
			scale: 0.99;
		}
	}
}
