.gyms {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 5% 1.4em 5%;
}
.gym-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
h1 {
	text-align: center;
	color: #f2f2f2;
	padding-top: 10px;
}
