

.gyms {
	display: flex;
	align-items: center;
	justify-content: center;
}
.gym-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow-x: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}
h1 {
	text-align: center;
	color: #f2f2f2;
	padding-top: 10px;
}
