.profile {
	height: 100%;
	width: 100%;
	h2 {
		padding: 1% 10% 0 10%;
		color: rgb(243, 243, 159);
		font-size: 2.5em;
		text-align: center;
	}
	background-image: linear-gradient(
		to right top,
		#0072c6,
		#0275c9,
		#0477cc,
		#067ad0,
		#087dd3
	);
	padding: 8.5em 0 0.1em 0;
	.admin {
		border-radius: 20px;
		padding: 1% 5%;
		margin: 2% 10%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		-webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.02);
		box-shadow: rgb(5, 91, 177) 3px 3px 6px 0px inset,
			rgba(181, 145, 238, 0.5) -3px -3px 6px 1px inset;
		display: flex;
		div {
			display: flex;
			gap: 3em;
		}
		.pic {
			display: flex;
			align-items: center;
			flex-direction: column;

			font-size: 1.5em;
			font-weight: bold;
			gap: 0.6em;
			object-fit: cover;
			p {
				color: #f2f2f2;
				span {
					color: rgb(243, 243, 159);
				}
			}
			img {
				object-fit: cover;
				justify-self: flex-start;
				box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
					rgba(0, 0, 0, 0.22) 0px 10px 10px;
				border-radius: 50%;
				width: 150px;
				height: 150px;
			}
		}
		.crud {
			display: flex;
			gap: 2em;
			width: auto;
		}
		button {
			width: 160px;
			text-transform: uppercase;
			padding: 15px 25px;
			box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
				rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
				rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
			color: #f2f2f2;
			background-color: rgb(199, 75, 112);
			border: none;
			border-radius: 5px;
			cursor: pointer;
			font-size: 16px;
			font-weight: 600;
			&:hover {
				background-color: transparent;
				box-shadow: rgb(5, 91, 177) 3px 3px 6px 0px inset,
					rgba(181, 145, 238, 0.5) -3px -3px 6px 1px inset;
				scale: 0.99;
			}
		}
	}
	.container {
		padding: 0;
		margin: 2% 9%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		.left {
			width: 40%;
			height: 500px;
			overflow: auto; /* Enable scrolling */
			padding: 1em;
			-webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.02);
			box-shadow: rgb(5, 91, 177) 3px 3px 6px 0px inset,
				rgba(181, 145, 238, 0.5) -3px -3px 6px 1px inset;
			border-radius: 20px;
			p {
				display: flex;
				align-items: center;
				gap: 0.2em;
				font-size: 1.5em;
				color: #f2f2f2;
				font-weight: bold;
				span {
					color: rgb(243, 243, 159);
				}
			}
			.liked {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				gap: 20px;
				padding: 20px 20px;
				.single-like {
					box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
						rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
					padding: 20px;
					border-radius: 20px;
					div {
						padding: 0 30px;
						gap: 20px;
						display: flex;
						align-items: center;
						p {
							text-align: center;
							padding: 0 20px;
						}
						img {
							width: 70px;
							height: 70px;
							border-radius: 20px;
							object-fit: cover;
							box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
								rgba(0, 0, 0, 0.22) 0px 10px 10px;
							&:hover {
								opacity: 0.85;
								scale: 1.05;
								transition: 0.3s;
							}
						}
						span {
							font-size: 1.2em;
							color: rgb(243, 243, 159);
							font-weight: bold;
						}
						button {
							margin-left: auto;
							width: 100px;
							text-transform: uppercase;
							padding: 15px 25px;
							box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
								rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
								rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
							color: #f2f2f2;
							background-color: rgb(199, 75, 112);
							border: none;
							border-radius: 5px;
							cursor: pointer;
							font-size: 16px;
							font-weight: 600;
							&:hover {
								background-color: transparent;
								box-shadow: rgb(5, 91, 177) 3px 3px 6px 0px inset,
									rgba(181, 145, 238, 0.5) -3px -3px 6px 1px inset;
								scale: 0.99;
							}
						}
					}
					&:hover {
						scale: 1.01;
						transition: 0.3s;
					}
				}
			}
		}
		.right {
			width: 55%;
			height: 500px;
			overflow: auto; /* Enable scrolling */
			padding: 1em;
			-webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.02);
			box-shadow: rgb(5, 91, 177) 3px 3px 6px 0px inset,
				rgba(181, 145, 238, 0.5) -3px -3px 6px 1px inset;
			border-radius: 20px;
			p {
				display: flex;
				align-items: center;
				gap: 0.2em;
				font-size: 1.5em;
				color: #f2f2f2;
				font-weight: bold;
				span {
					color: rgb(243, 243, 159);
				}
			}
			.liked {
				display: flex;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				gap: 20px;
				padding: 20px 20px;
				.single-like {
					box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
						rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
					padding: 20px;
					border-radius: 20px;
					div {
						padding: 0 30px;
						gap: 20px;
						display: flex;
						align-items: center;
						p {
							text-align: center;
							padding: 0 20px;
						}
						img {
							width: 70px;
							height: 70px;
							border-radius: 20px;
							object-fit: cover;
							box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
								rgba(0, 0, 0, 0.22) 0px 10px 10px;
							&:hover {
								opacity: 0.85;
								scale: 1.05;
								transition: 0.3s;
							}
						}
						span {
							font-size: 1.2em;
							color: rgb(243, 243, 159);
							font-weight: bold;
						}
						button {
							margin-left: auto;
							width: 100px;
							text-transform: uppercase;
							padding: 15px 25px;
							box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
								rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
								rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
							color: #f2f2f2;
							background-color: rgb(199, 75, 112);
							border: none;
							border-radius: 5px;
							cursor: pointer;
							font-size: 16px;
							font-weight: 600;
							&:hover {
								background-color: transparent;
								box-shadow: rgb(5, 91, 177) 3px 3px 6px 0px inset,
									rgba(181, 145, 238, 0.5) -3px -3px 6px 1px inset;
								scale: 0.99;
							}
						}
					}
					&:hover {
						scale: 1.01;
						transition: 0.3s;
					}
				}
			}
		}
	}
}
