.edit-profile-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 5em;
	width: 100vw;
	height: 100%;
	padding-bottom: 7em;
	background-image: linear-gradient(
		to right top,
		#0072c6,
		#0275c9,
		#0477cc,
		#067ad0,
		#087dd3
	);
	p {
		font-size: 3em;
		font-weight: bold;
		color: rgb(243, 243, 159);
		span {
			text-transform: uppercase;
			color: #f2f2f2;
		}
	}
	.edit-profile {
		padding-top: 1.5em;
		display: flex;
		font-size: 1.5em;
		text-transform: uppercase;
		flex-direction: column;
		span {
			font-weight: bold;
			text-align: center;
			padding-top: 1.2em;
			padding-bottom: 0.2em;
			color: #f2f2f2;
		}
		input {
			text-align: center;
			width: 100%;
			height: 50px;
			font-size: 18px;
			border-radius: 20px;
			padding: 20px 20px;
		}
		.submit {
			width: 300px;
			margin-top: 1.5em;
			text-transform: uppercase;
			padding: 15px 25px;
			box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
				rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
				rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
			color: #f2f2f2;
			background-color: rgb(75, 94, 199);
			border: none;
			border-radius: 5px;
			cursor: pointer;
			font-size: 16px;
			font-weight: 600;
			&:hover {
				background-color: transparent;
				box-shadow: rgb(5, 91, 177) 3px 3px 6px 0px inset,
					rgba(181, 145, 238, 0.5) -3px -3px 6px 1px inset;
				scale: 0.99;
			}
		}
		.cancel {
			margin-top: 1.2em;
			width: 300px;
			text-transform: uppercase;
			padding: 15px 25px;
			box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
				rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
				rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
			color: #f2f2f2;
			background-color: rgb(199, 75, 112);
			border: none;
			border-radius: 5px;
			cursor: pointer;
			font-size: 16px;
			font-weight: 600;
			&:hover {
				background-color: transparent;
				box-shadow: rgb(5, 91, 177) 3px 3px 6px 0px inset,
					rgba(181, 145, 238, 0.5) -3px -3px 6px 1px inset;
				scale: 0.99;
			}
		}
	}
}
